.about-container {
    display: flex;
    width: 80%;
    margin: 0 auto;
    gap: 2rem;
    padding: 1rem;
    background-color: #f4f4f400;
  }
  
  .about-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 2rem;
  }
  
  .personal-intro h1 {
    text-align: left;
    font-size: 2.5rem;
    color: #313131;
    margin-bottom: 1rem;
    border-bottom: 3px solid #3d3d3d;
    padding-bottom: 0.5rem;
  }
  
  .personal-intro p {
    text-align: justify;
    color: #313131;
    line-height: 1.6;
  }
  
  .academic-highlights {
    color: #313131;
    border: #313131 solid 2px;
    background-color: #ffffff1f;
    padding: 1.5rem;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
  
  .academic-highlights h3 {
    color: #2c3e50;
    margin-bottom: 1rem;
    font-size: 1.5rem;
  }
  
  .academic-highlights ul {
    list-style: none;
    padding: 0;
  }
  
  .academic-highlights li {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    color: #313131;
  }
  
  .academic-icon {
    margin-right: 1rem;
    font-size: 1.5rem;
  }
  
  .gpa-badge {
    border: #313131 solid 2px;
    background-color: #f5f5f500;
    color: #313131;
    padding: 0.25rem 0.5rem;
    border-radius: 4px;
    margin-left: 0.5rem;
    font-size: 0.8rem;
  }
  
  .technologies-section {
    flex: 1;
    border: #313131 solid 2px;
    background-color: #ffffff1f;
    padding: 2rem;
    border-radius: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .technologies-section-heading {
    color: #2c3e50;
    margin-bottom: 1.5rem;
    font-size: 1.8rem;
    text-align: center;
    margin-top: -0.5rem;
  }
  
  .tech-grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: 100%;
  }
  
  .tech-badge {
    border: #313131 solid 2px;
    display: flex;
    align-items: center;
    background-color: #f1f1f100;
    padding: 0.5rem;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .tech-badge:hover {
    color: rgb(234, 234, 234);
    transform: scale(1);
    background-color: #313131;
  }
  .tech-name:hover{
    color: #d0d0d0;
  }

  .tech-icon {
    margin-right: 0.75rem;
    font-size: 1.75rem;
  }
  

  
  .tech-subtitle {
    /* margin-top: 2rem; */
    color: #333;
    font-style: italic;
    text-align: center;
  }
  
  /* Responsive Design */
  @media (max-width: 768px) {
    .about-container {
      flex-direction: column;
      width: 95%;
    }
  }